<p>
  <strong>Symbol:</strong>
  <%= @currency.symbol %>
</p>

<p>
  <strong>User:</strong>
  <%= @currency.user_id %>
</p>

<p>
  <strong>Cost per:</strong>
  <%= @currency.cost_per %>
</p>

<p>
  <strong>Amount owned:</strong>
  <%= @currency.amount_owned %>
</p>

<%= link_to 'Back', currencies_path, class: "btn btn-primary" %>
<%= link_to 'Edit', edit_currency_path(@currency), class: "btn btn-warning" %> 
<%= link_to 'Delete', currency_path(@currency), method: :delete, data: { confirm: 'Are you sure you ant to delete the currency?' }, class: "btn btn-danger"  %>
